/*
Here you can overwrite css styles.

e.g.:

/* overwrites the first title * /
.reveal section.title h1 {
    margin-top: 2.3em;
}

/* overwrites header style * /
.reveal h2 {
    font-size: 6em;
}

*/

.reveal {
    font-size: 0.75cm;
}

.reveal .small {
    font-size: 70%;
}

.reveal .big {
    font-size: 120%;
}

.footer {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;

    color: black;
}

.footer span {
    display: table-cell;
    padding: 0px 15px 5px;

    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 70%;
}

.footer span:nth-of-type(1) {
    text-align: left;
}

.footer span:nth-last-child(1) {
    text-align: right;
}


/*
 * Change block quote to custom values.
 *
 * 'blockquote' is for the quote itselfe and '.attribution' is the attribution text.
 */
blockquote {
    padding: 0!important;
    margin: 0!important;
    width: 100%!important;
    text-align: center!important;
    font-weight: 550!important;
    font-style: normal!important;
}

.attribution {
    font-size: 90%!important;
    text-align: right!important;
    font-style: italic!important;
}

/*
 *  text style classes
 */
.valign-top {
  vertical-align: top!important;
}

.text-center {
    text-align: center;
}

